{% load blog_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

</head>
<body>
{% block content %}{% endblock %}
<div>
    This is my blog
    I`ve written {% total_posts %} posts so far.
</div>
<div>
    <br>
    <br>
    <h3>Latest posts</h3>
    {% show_latest_posts %}
</div>
</body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>